<ul class="nav nav-tabs" role="tablist">
  <li <%= 'class=active' if params[:action] == 'index' and params[:controller] == 'admin/countries' %>>
    <%= link_to "All Countries(#{Country.count})", admin_countries_path %>
  </li>
  <% if @country.present? and not @country.new_record? %>
  <li class="active">
    <%= link_to "#{@country.name}", edit_admin_country_path(@country) %>
  </li>
  <% elsif @country.present? and @country.new_record? %>
  <li class="active">
    <%= link_to "New Country", "javascript:void(0);" %>
  </li>
  <% end %>
</ul>
