body {
  font-family:MiriamLibre-Regular;
  color:#0073f7;
  text-align:left;
  font-size:80px;
}

header {
  margin: 29px 68px;

}

.container{
  background:#f2f5f7;
  position: fixed;
  top: 145px;
  bottom: 25px;
  left: 25px;
  right: 25px;
  padding: 43px;
}

.start {

  a{
    position: absolute;
    display: block;
    height: 61px;
    width: 47px;
    overflow: hidden;
    background-image: url('/assets/images/drop-pending.svg');
    background-size: contain;
  }
}
