$text: #0073f7;
$bg: #f2f5f7;

body {
  font-family:Miriam Libre;
  color: $text;
  text-align:left;
  font-size:40px;
}

body, div, p, input {
  font-family:Miriam Libre;
  line-height: 1.2;
}

:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

header {
  margin: 30px 58px 10px;
}

.fl {
  float:left;
}

.fr {
  float:right;
}

br.clearing {
  clear:both !important;
  width:0;
  height:0;
  line-height: 1;
  margin:0;
  padding:0;
}
#logo {
  overflow: hidden;
  background: url('/assets/IWBA_logo.svg') no-repeat center center;
  width: 332px;
  height: 64px;
  text-indent: -999999px;
  position: absolute;
  top: 25px;
  right: 25px;
}

.container{
  background:$bg;
  position: fixed;
  top: 141px;
  bottom: 25px;
  left: 25px;
  right: 25px;
  overflow: hidden;
  // height: 600px;
}

.drops {
  width: 100%;
  min-height: 520px;
  position: absolute;
  bottom: 80px;
  margin:0;
  padding:0;
  li {
    list-style: none;
    float: left;
    width: 10%;
    height: 80px;
    background: url('/assets/drop.svg') no-repeat center center;
    overflow: hidden;
    text-indent: -999999px;
    transition: all 0.5s;
  }

  &.scale1 li {
    background-size: contain;
    width: 10%;
    height: 80px;
  }

  &.scale2 li {
    background-size: contain;
    width: 5%;
    height: 40px;
  }

  &.scale3 li {
    background-size: contain;
    width: 4%;
    height: 32px;
  }

  &.scale4 li {
    background-size: contain;
    width: 3.333%;
    height: 28px;
  }

  &.scale5 li {
    background-size: contain;
    width: 2.5%;
    height: 24px;
  }

  &.scale6 li {
    background-size: contain;
    width: 2%;
    height: 20px;
  }

  &.scale7 li {
    background-size: contain;
    width: 1.5%;
    height: 18px;
  }

  &.scale8 li {
    background-size: contain;
    width: 1.25%;
    height: 15px;
  }

  &.scale9 li {
    background-size: contain;
    width: 1%;
    height: 12px;
  }
}

.btn {
  text-decoration: none;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  border: 12px solid white;
  border-radius: 36px;
  height: 44px;
  width: 212px;
  line-height: 1.6em;
  font-size: 30px;
  color: $text;
  background: $bg;

  &::before {
    content: "";
    display: block;
    border: 4px solid $text;
    border-radius: 30px;
    height: 52px;
    width: 220px;
    position: absolute;
    top: -8px;
    left: -8px;
  }

  &.confirm {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -118px;
    opacity: 1;
    animation: slidein 6s linear;
  }
}

.start {
  header strong {
    font-size:80px;
    font-weight: 400;
  }
  .container {
    font-size: 60px;
    padding: 43px;
    height: 514px;
  }
  a{
    position: absolute;
    display: block;
    height: 61px;
    width: 47px;
    overflow: hidden;
    background: url('/assets/drop-pending.svg') no-repeat center top;
    background-size: contain;
    bottom: 85px;
    left: 50%;
    margin: -23px;
    text-indent: -99999px;
    animation: dripping 3s infinite;
  }
}

.pour-water{
  header strong {
    font-size:80px;
    font-weight: 400;
  }
  #logo { display: none; }
}

.congratulation {
  header {
    font-size: 40px;
    a {
      color: $text;
      text-decoration: none;
    }
  }

  .mapboxgl-map{
    top: 145px;
    position: absolute;

    .mapboxgl-ctrl-attrib a {
      color: rgba(0,0,0,0.5);
      font-size: 10px;
    }
  }
}

.sending-email {
  .container{
    text-align: center;

    form {
      display: inline-block;
      position: relative;
      text-align: left;
      margin-top: 150px;
      background: #FFFFFF;
      border: 2px solid $text;
      border-radius: 36px;
      height: 58px;
      width: 528px;
      padding-left: 15px;
      .input-email {
        font-size: 24px;
        color: $text;
        border: none;
        border-radius: 36px;
        width: 400px;
        background: none;
        &::placeholder {

        }
      }
      .btn {
        position: absolute;
        top: 7px;
        right: 7px;
        width: 128px;
        height: 45px;
        background: $text;
        color: white;
        font-size: 24px;
        border: 0;
        line-height: 1.8em;
      }
    }
  }
}

.result {
  header {
    padding-top: 1.3em;
  }
  .container {
    padding: 10px 42px;

    #logo {
      bottom: 25px;
      top: initial;
    }
  }
}

.toggle-area {
  position:absolute;
  left:25px;
  line-height: 0;
  bottom:35px;

  a {
    text-decoration: none;
    display: inline-block;
  }

  &__toggle-btn-area {
    float:left;
    font-size:0.5em;
    margin: 0 10px;
  line-height: 1;
  }

  &__drought-label {
    float:left;
    color:#999;
    font-size:0.4em;
    margin-top:4px;
    line-height: 1;

    &.active {
      color:$text;
    }
  }

  &__profits-label {
    float:left;
    color:#999;
    line-height: 1;
    margin-top:4px;
    font-size:0.4em;

    &.active {
      color:$text;
    }

  }
}



.map-legend {
  position:absolute;
  right:25px;
  bottom:35px;

  line-height: 0;


  ul {
    margin:0;
    padding:0;
    list-style:none;
    
  }
  li {
    float:left;
    display: block;
    font-size:0.4em;
    line-height: 1;
    color:#999;
  }

  &__label {
    margin: 0 5px;
  }
  &__legend-bar {
    width: 50px;
    height: 7px;
    background-color:red;
    margin: 0 1px;
    margin-top:4px;
  }

  &__legend-bar--drought-one {
    @extend .map-legend__legend-bar; 
    background-color:#ffe185;
  }

  &__legend-bar--drought-two {
    @extend .map-legend__legend-bar; 
    background-color:#ffa300;
  }

  &__legend-bar--drought-three {
    @extend .map-legend__legend-bar; 
    background-color:#f66c3b;
  }

  &__legend-bar--drought-four {
    @extend .map-legend__legend-bar; 
    background-color:#da2e1d;
  }

  &__legend-bar--drought-five {
    @extend .map-legend__legend-bar; 
    background-color:#a71622;
  }

  &__legend-bar--profits-one {
    @extend .map-legend__legend-bar; 
    background-color:#dff19d;
  }

  &__legend-bar--profits-two {
    @extend .map-legend__legend-bar; 
    background-color:#b8df84;
  }

  &__legend-bar--profits-three {
    @extend .map-legend__legend-bar; 
    background-color:#85cb80;
  }

  &__legend-bar--profits-four {
    @extend .map-legend__legend-bar; 
    background-color:#4cae73;
  }

  &__legend-bar--profits-five {
    @extend .map-legend__legend-bar; 
    background-color:#378a60;
  }



}



//ANIMATIONS

@keyframes dripping {
  0%   {height: 11px; bottom: 125px}
  90%  {bottom: 85px}
  100% {bottom: -40px}
}

@keyframes slidein {
  0%   {opacity: 0; bottom: 0px}
  90%  {opacity: 0; bottom: 0px}
  100% {opacity: 1; bottom: 20px}
}
