<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      h1, h2, h3, p, div {
        font-family:Miriam Libre;
        color: #0073f7;
      }

      h2 {
        font-size:35px;
        margin: 10px 0;
      }

      .desc {
        color: #999;
        margin: 5px 0;
      }

      .container {
        width:600px;
        margin:0 auto;
      }
      .drops {
        font-size:20px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
